#newlocation-input {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 70px;
    border: 2px solid #f2f2f2;
    border-radius: 1px;
}

#add-newlocation {
    color: #f2f2f2;
    font-family: MOMCAKE-BOLD;
    font-size: 30px;
}

#location-table {
    background-color: #a9dcbe;
}