/* MODAL */

#modal {
    background-color: #231874;
}

#modal-body {
    /* background-color: #4536b3; */
    background-color: rgba(69, 54, 179, 0.9);
}

#edit-header {
    font-family: "MOMCAKE-BOLD";
    font-size: 70px;
    color: #231874;
    text-align: center;
}

/* TEXT */

#edit-text {
    font-family: "MOMCAKE-BOLD";
    font-size: 20px;
    color: #f2f2f2;
}


/* INPUT */

#edit-input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    border: 2px solid #f2f2f2;
    border-radius: 1px;
}

#edit-input:focus {
    /* background-color: rgba(69, 54, 179, 0.8); */
    background-color: rgba(169, 220, 190, 0.8);
    /* color: black; */
}

#edit-input[type="text"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 20px;
  }

  #edit-button {
    margin-top: 40px;
    margin-left: 65px;
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center; */
  }
  /* button {
      margin-top: 10px;
  } */