/* ANTD DESIGN */
@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

/* body {
  background-color: #000240;
} */
 

body{
  background-image: url(./assests/background_blue.png);
  /* background-image: url(./assests/background.svg); */
  /* transition: 1s linear;
  transform: rotate(360deg); */
}



@font-face {
  font-family: MOMCAKE-BOLD;
  src: url(./assests/MOMCAKE-Bold.otf);
}


@font-face {
  font-family: Nanami-3D-Medium;
  src: url(./assests/Nanami-3D-Medium.otf);
}

@font-face {
  font-family: RoundorNonCommercial;
  src: url(./assests/RoundorNonCommercial.otf);
}


@font-face {
  font-family: Klein-Condensed-ExtraBold-trial;
  src: url(./assests/Klein-Condensed-ExtraBold-trial.ttf);
}