.App {
  text-align: center;
}

body {
  background-color: #000240;
  /* background-color: #0EB8D2; */
}

@font-face {
  font-family: Fenord Regular;
  src: url(./assests/FenordRegular.otf);
}

@font-face {
  font-family: MOMCAKE-BOLD;
  src: url(./assests/MOMCAKE-Bold.otf);
}
