#slot{
    width: 50%;
    padding: 0px;
    margin-top: 10px;
}

#lottoNum{
    height:40px;
    width: 260px;
    font-size: 27px;
    font-weight: bolder;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 4);
    border-radius: 6%;
    text-align: center;
}

#random-number-btn{
    background: white;
    border-radius: 10%;
    margin-bottom: 20px;
    width: 450px;
    font-size: large;
    font-weight: 600;
    padding: 10px;
}