/* .logout-button {
    margin-right: 10px;
} */


/* #update-button {
    margin: 40px;
    text-align: center;
} */

/* .link {
    text-decoration: none;
} */

/* .nav-divider {
    text-align: center;
    font-family: "MOMCAKE-BOLD";
} */

.menu {
    font-family: "MOMCAKE-BOLD";
}